In [42]:
import numpy as np
import pandas as pd

# Criando um dataframe

In [45]:
#df = pd.DataFrame([[1,2,3],["a","b","c"]])
#df = pd.DataFrame({"time":["Bahia","Vitoria","Fluminense"],'victores':["12","11","10"]})
#df = pd.DataFrame(np.random.randn(3,2))
#df = pd.DataFrame(np.random.randint(1,10,6).reshape(3,2))
df = pd.DataFrame(np.random.randint(1,10,6).reshape(2,3),columns=['Bahia','Vitoria','Flu Feira'],index=['Gols','Vitorias'])
df

          Bahia  Vitoria  Flu Feira
Gols          4        8          5
Vitorias      9        5          4

# seleção de dados